.inviteCardRows {
  margin: 29px 0;
}

.inviteCardHeader {
  position: relative;
}
.inviteCardHeaderimg {
  position: absolute !important;
  top: -20px !important;
  right: -8px !important;
}

.inviteCardFooter span {
  color: #1161d6;
  font-family: "Public Sans";
  font-size: 14px;
  cursor: pointer;
}

.inviteCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -27px;
}

#tooltipPosition_Info {
  /* Position the tooltip */
  width: 178px;
  position: absolute;
  top: 100%;
  right: 27%;
  margin-left: -90px;
}
